@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 50% 5%;
    --foreground: 0 0% 100%;

    --primary: 255 92% 76%;
    --primary-foreground: 240 50% 5%;

    --secondary: 280 91% 73%;
    --secondary-foreground: 240 50% 5%;

    --muted: 240 50% 20%;
    --muted-foreground: 240 10% 80%;

    --accent: 280 91% 65%;
    --accent-foreground: 0 0% 100%;

    --card: 240 50% 10%;
    --card-foreground: 0 0% 100%;

    --popover: 240 50% 10%;
    --popover-foreground: 0 0% 100%;

    --border: 240 50% 20%;
    --input: 240 50% 20%;
    --ring: #fff/80;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    /* Gradient colors */
    --gradient-start: 255 92% 76%;
    --gradient-end: 280 91% 73%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: #fff/80;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring:  #fff/80;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply animated-gradient text-foreground;
  }
}

.animated-gradient {
  background: linear-gradient(60deg, #4772e8, #116cd4, #3e37b8, #044a9a);
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 70%;
  }
  50% {
    background-position: 100% 70%;
  }
  100% {
    background-position: 0% 70%;
  }
}

.header-bg {
  background: linear-gradient(45deg, #0f5ab0, #3084e6, #5a9eeecf);
  box-shadow: #0c1f779c 1px 1px 15px 4px
}

.btn {
  width: 120px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  background: linear-gradient(96deg, #53b2fe, #065af3);
  background-size: 600%;
}

/* The animation starts here */
.animated-box {
  position: relative;
}

.animated-box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background: linear-gradient(120deg, #00F260, #0575E6, #00F260);
  background-size: 300% 300%;
  clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
}

.animated-box.in:after {
  animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
}

/* motion */
@keyframes gradient-animation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

@keyframes frame-enter {
  0% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
  }
  75% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
  }
  100% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
  }
}

.countdown-clock {
  border: 1px solid;
  padding: 1em;
  padding-top: 1.5em;
  margin-top: 2em;
  border-radius: 1em;
  background: linear-gradient(1deg, #189ee1, #7e5fe9bf);
}

.countdown-clock .title {
  border: 1px solid rgba(255, 255, 255, 0.5);
  line-height: 20px;
  padding-inline: 1em;
  background: inherit;
}

.dot {
  position: absolute;
  inset: 5px;
  background: red;
  border-radius: 50%;
  animation: animateDot 60s steps(60) infinite;
}

.dot::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background: #00ff43;
  transform: translate(-50%);
  border-radius: 50%;
  box-shadow: 0 0 10px #00ff43, 0 0 30px #00ff43;
}

@keyframes animateDot {
 0% {
  transform: rotate(0deg);
 }
 100% {
  transform: rotate(360deg);
 }
  
}


.isolation {
  isolation: isolate;
}

.animated-border {
  --border-width: 1px;
  --radius: 10px;

  position: relative;
  border-radius: var(--radius);
  border: var(--border-width) solid transparent;
}

.animated-border::before {
  content: " ";
  position: absolute;
  inset: calc(var(--border-width) * -1);
  z-index: -1;
  border: inherit;
  border-radius: inherit;
  background-image: conic-gradient(from var(--angle), #e9ebf0 80%, #e0d1ffb5 88%, #7c6e9b 92%, #f0f0f5 100%);
  background-origin: border-box;
  -webkit-mask:
    linear-gradient(black, black) content-box,
    linear-gradient(black, black);  
  mask: linear-gradient(black, black),
        linear-gradient(black, black);
  -webkit-mask-clip: content-box, border-box;  
  mask-clip: content-box, border-box;
  -webkit-mask-composite: xor;  
  mask-composite: exclude;
  animation: spin 5s linear infinite;
}


@supports not (background: paint(something)) {
  .animated-border::before {
background-image: conic-gradient(#381D6A 80%, #E0D1FF 88%, #E0D1FF 92%, #381D6A 100%);    
  }
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes spin {
  to {
    --angle: 1turn;
  }
}

.footer {
  background: linear-gradient(45deg, #0f5ab0, #3084e6, #5a9eeecf);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.intro-text {
  opacity: 0;
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 0.3s;
}

.path-0{
  animation:pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
  0%{
    d: path("M 0,400 L 0,75 C 66.53846153846158,53.62564102564102 133.07692307692315,32.25128205128205 217,38 C 300.92307692307685,43.74871794871795 402.23076923076917,76.62051282051283 495,85 C 587.7692307692308,93.37948717948717 672,77.26666666666668 742,70 C 812,62.73333333333333 867.7692307692307,64.31282051282051 949,60 C 1030.2307692307693,55.68717948717949 1136.923076923077,45.48205128205128 1223,47 C 1309.076923076923,48.51794871794872 1374.5384615384614,61.758974358974356 1440,75 L 1440,400 L 0,400 Z");
  }
  25%{
    d: path("M 0,400 L 0,75 C 88.75897435897437,75.68205128205128 177.51794871794874,76.36410256410257 264,79 C 350.48205128205126,81.63589743589743 434.6871794871796,86.22564102564101 510,79 C 585.3128205128204,71.77435897435899 651.7333333333332,52.73333333333335 726,64 C 800.2666666666668,75.26666666666665 882.3794871794872,116.84102564102564 953,111 C 1023.6205128205128,105.15897435897436 1082.748717948718,51.9025641025641 1162,38 C 1241.251282051282,24.0974358974359 1340.625641025641,49.54871794871795 1440,75 L 1440,400 L 0,400 Z");
  }
  50%{
    d: path("M 0,400 L 0,75 C 98.86666666666665,62.85897435897436 197.7333333333333,50.717948717948715 268,47 C 338.2666666666667,43.282051282051285 379.9333333333334,47.987179487179496 456,51 C 532.0666666666666,54.012820512820504 642.5333333333333,55.33333333333333 741,59 C 839.4666666666667,62.66666666666667 925.9333333333334,68.67948717948717 990,74 C 1054.0666666666666,79.32051282051283 1095.7333333333333,83.94871794871796 1167,84 C 1238.2666666666667,84.05128205128204 1339.1333333333332,79.52564102564102 1440,75 L 1440,400 L 0,400 Z");
  }
  75%{
    d: path("M 0,400 L 0,75 C 69.12564102564102,74.66410256410256 138.25128205128203,74.32820512820513 224,79 C 309.74871794871797,83.67179487179487 412.1205128205129,93.35128205128206 507,87 C 601.8794871794871,80.64871794871794 689.2666666666665,58.266666666666666 760,46 C 830.7333333333335,33.733333333333334 884.8128205128204,31.58205128205128 949,38 C 1013.1871794871796,44.41794871794872 1087.4820512820513,59.40512820512819 1171,67 C 1254.5179487179487,74.5948717948718 1347.2589743589742,74.7974358974359 1440,75 L 1440,400 L 0,400 Z");
  }
  100%{
    d: path("M 0,400 L 0,75 C 66.53846153846158,53.62564102564102 133.07692307692315,32.25128205128205 217,38 C 300.92307692307685,43.74871794871795 402.23076923076917,76.62051282051283 495,85 C 587.7692307692308,93.37948717948717 672,77.26666666666668 742,70 C 812,62.73333333333333 867.7692307692307,64.31282051282051 949,60 C 1030.2307692307693,55.68717948717949 1136.923076923077,45.48205128205128 1223,47 C 1309.076923076923,48.51794871794872 1374.5384615384614,61.758974358974356 1440,75 L 1440,400 L 0,400 Z");
  }
}

.path-1{
  animation:pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1{
  0%{
    d: path("M 0,400 L 0,175 C 86.92820512820512,161.63076923076923 173.85641025641024,148.26153846153846 250,148 C 326.14358974358976,147.73846153846154 391.50256410256407,160.58461538461538 466,173 C 540.4974358974359,185.41538461538462 624.1333333333334,197.39999999999998 701,198 C 777.8666666666666,198.60000000000002 847.9641025641025,187.81538461538463 922,179 C 996.0358974358975,170.18461538461537 1074.0102564102563,163.33846153846153 1161,163 C 1247.9897435897437,162.66153846153847 1343.9948717948719,168.83076923076925 1440,175 L 1440,400 L 0,400 Z");
  }
  25%{
    d: path("M 0,400 L 0,175 C 66.05897435897435,181.85128205128206 132.1179487179487,188.7025641025641 213,189 C 293.8820512820513,189.2974358974359 389.58717948717947,183.04102564102564 472,188 C 554.4128205128205,192.95897435897436 623.5333333333333,209.13333333333333 694,196 C 764.4666666666667,182.86666666666667 836.2794871794872,140.42564102564103 926,141 C 1015.7205128205128,141.57435897435897 1123.3487179487179,185.16410256410256 1212,198 C 1300.6512820512821,210.83589743589744 1370.325641025641,192.91794871794872 1440,175 L 1440,400 L 0,400 Z");
  }
  50%{
    d: path("M 0,400 L 0,175 C 88.84358974358975,173.09487179487178 177.6871794871795,171.18974358974359 246,171 C 314.3128205128205,170.81025641025641 362.0948717948718,172.33589743589744 452,169 C 541.9051282051282,165.66410256410256 673.9333333333334,157.46666666666667 761,166 C 848.0666666666666,174.53333333333333 890.1717948717949,199.7974358974359 960,199 C 1029.8282051282051,198.2025641025641 1127.3794871794871,171.34358974358975 1212,163 C 1296.6205128205129,154.65641025641025 1368.3102564102564,164.82820512820513 1440,175 L 1440,400 L 0,400 Z");
  }
  75%{
    d: path("M 0,400 L 0,175 C 66.74871794871794,159.31025641025641 133.49743589743588,143.62051282051283 209,140 C 284.5025641025641,136.37948717948717 368.75897435897434,144.82820512820516 446,154 C 523.2410256410257,163.17179487179484 593.4666666666667,173.06666666666663 691,172 C 788.5333333333333,170.93333333333337 913.374358974359,158.90512820512822 1004,166 C 1094.625641025641,173.09487179487178 1151.0358974358974,199.3128205128205 1218,204 C 1284.9641025641026,208.6871794871795 1362.4820512820513,191.84358974358975 1440,175 L 1440,400 L 0,400 Z");
  }
  100%{
    d: path("M 0,400 L 0,175 C 86.92820512820512,161.63076923076923 173.85641025641024,148.26153846153846 250,148 C 326.14358974358976,147.73846153846154 391.50256410256407,160.58461538461538 466,173 C 540.4974358974359,185.41538461538462 624.1333333333334,197.39999999999998 701,198 C 777.8666666666666,198.60000000000002 847.9641025641025,187.81538461538463 922,179 C 996.0358974358975,170.18461538461537 1074.0102564102563,163.33846153846153 1161,163 C 1247.9897435897437,162.66153846153847 1343.9948717948719,168.83076923076925 1440,175 L 1440,400 L 0,400 Z");
  }
}

.path-2{
  animation:pathAnim-2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2{
  0%{
    d: path("M 0,400 L 0,275 C 96.67179487179487,254.54358974358976 193.34358974358975,234.08717948717953 284,244 C 374.65641025641025,253.91282051282047 459.2974358974359,294.19487179487174 521,300 C 582.7025641025641,305.80512820512826 621.4666666666667,277.1333333333334 688,263 C 754.5333333333333,248.86666666666662 848.8358974358974,249.27179487179484 933,250 C 1017.1641025641026,250.72820512820516 1091.1897435897436,251.7794871794872 1174,256 C 1256.8102564102564,260.2205128205128 1348.4051282051282,267.6102564102564 1440,275 L 1440,400 L 0,400 Z");
  }
  25%{
    d: path("M 0,400 L 0,275 C 89.66153846153847,282.8461538461538 179.32307692307694,290.6923076923077 254,295 C 328.67692307692306,299.3076923076923 388.3692307692306,300.0769230769231 467,286 C 545.6307692307694,271.9230769230769 643.2000000000002,242.99999999999997 730,248 C 816.7999999999998,253.00000000000003 892.8307692307692,291.9230769230769 975,295 C 1057.1692307692308,298.0769230769231 1145.476923076923,265.3076923076923 1224,256 C 1302.523076923077,246.69230769230768 1371.2615384615385,260.8461538461538 1440,275 L 1440,400 L 0,400 Z");
  }
  50%{
    d: path("M 0,400 L 0,275 C 77.07948717948719,276.94358974358977 154.15897435897438,278.8871794871795 241,279 C 327.8410256410256,279.1128205128205 424.44358974358977,277.3948717948718 494,282 C 563.5564102564102,286.6051282051282 606.0666666666667,297.53333333333336 683,291 C 759.9333333333333,284.46666666666664 871.2897435897435,260.4717948717948 958,250 C 1044.7102564102565,239.52820512820514 1106.774358974359,242.57948717948716 1183,249 C 1259.225641025641,255.42051282051284 1349.6128205128205,265.2102564102564 1440,275 L 1440,400 L 0,400 Z");
  }
  75%{
    d: path("M 0,400 L 0,275 C 85.80512820512817,282.43333333333334 171.61025641025634,289.8666666666667 240,286 C 308.38974358974366,282.1333333333333 359.3641025641026,266.9666666666667 438,266 C 516.6358974358974,265.0333333333333 622.9333333333333,278.26666666666665 704,285 C 785.0666666666667,291.73333333333335 840.9025641025642,291.9666666666667 933,297 C 1025.0974358974358,302.0333333333333 1153.4564102564102,311.8666666666667 1244,309 C 1334.5435897435898,306.1333333333333 1387.271794871795,290.56666666666666 1440,275 L 1440,400 L 0,400 Z");
  }
  100%{
    d: path("M 0,400 L 0,275 C 96.67179487179487,254.54358974358976 193.34358974358975,234.08717948717953 284,244 C 374.65641025641025,253.91282051282047 459.2974358974359,294.19487179487174 521,300 C 582.7025641025641,305.80512820512826 621.4666666666667,277.1333333333334 688,263 C 754.5333333333333,248.86666666666662 848.8358974358974,249.27179487179484 933,250 C 1017.1641025641026,250.72820512820516 1091.1897435897436,251.7794871794872 1174,256 C 1256.8102564102564,260.2205128205128 1348.4051282051282,267.6102564102564 1440,275 L 1440,400 L 0,400 Z");
  }
}